<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order created</title>
</head>
<body>

    <div class="container">
        <div class="icon">✅</div>
        <h1>Order created!</h1>
        <p>Your order has been placed successfully.</p>
        <p>As soon as the payment is processed, you will receive a confirmation email..</p>
        <a href="#" class="btn" [routerLink]="['/home']">Back to store</a>
    </div>

</body>
</html>
