<div class="container">

    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" 
    size = "medium" color = "#fff" 
    type = "ball-scale-multiple" 
    [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
    </ngx-spinner>

    <form novalidate (ngSubmit)="updatedProduct()"  [formGroup]="productForm">
        <div class="form-horizontal" style="padding-top: 80px;">

            <div class="form-group">
                <p-floatLabel>
                    <input pInputText id="name" formControlName="name" id="name"/>
                    <label for="name">Product Name</label>
                </p-floatLabel>
            </div>
            <br>
            <div class="form-group">
                <p-floatLabel>
                    <p-inputNumber inputId="integeronly" formControlName="price" id="price" /> 
                    <label for="price">Price</label>
                </p-floatLabel>
            </div>
            <br>
            <div class="form-group">
                <label class="col-md-2 control-label">Active</label>
                <div class="col-md-10">
                    <p-inputSwitch formControlName="active"  id="active" />
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="col-md-2 control-label">Product Image</label>
                <div class="col-md-10">
                    <p-image 
                        src={{imageUri}}
                        alt="Image" 
                        width="250" 
                        [preview]="true" />
                </div>
            </div>
            <br>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Image</label>
            <div class="card col-md-10">
                <p-toast />
                <p-fileUpload 
                name="demo[]" 
                url="https://www.primefaces.org/cdn/api/upload.php" 
                (onUpload)="onUpload($event)" 
                [multiple]="true" 
                accept="image/*" 
                maxFileSize="5000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">
                                {{ file.name }} - {{ file.size }} bytes
                            </li>
                        </ul>
                        </ng-template>
                        <ng-template pTemplate="empty">
                            <div class="flex align-items-center justify-content-center flex-column">
                                <i class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400"></i>
                                <p class="mt-4 mb-0">Drag and drop files here to upload.</p>
                            </div>
                        </ng-template>
                </p-fileUpload>
                </div>
        </div>

        <div class="form-group">
            <p-button type="submit"  label="Save" severity="info"></p-button>&nbsp;
            <p-button type="submit"  label="Back to list" severity="secondary" (onClick)="backPreviousPage()"></p-button>
        </div>
    </form>
</div>