<div class="container">

    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" 
    size = "medium" color = "#fff" 
    type = "ball-scale-multiple" 
    [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
    </ngx-spinner>

    <div class="form-horizontal">

            <div class="form-group">
                <input 
                id="disabled-input" 
                type="text"
                placeholder="Name"
                pInputText 
                [value]="product?.name"
                [disabled]="true" />
            </div>
            <br>
            <div class="form-group">
                <input 
                id="disabled-input" 
                type="text"
                placeholder="Price"
                pInputText 
                [value]="product?.price"
                [disabled]="true" />
            </div>
            <br>
            <div class="form-group">
                <label class="col-md-2 control-label">Active</label>
                <div class="col-md-10">
                    <p-checkbox 
                    [binary]="true" 
                    [ngModel]="product?.active" 
                    [disabled]="true"
                    inputId="binary" />
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="col-md-2 control-label">Product Images</label>
                <div class="col-md-10">
                    <p-image 
                        [src]="product?.imageUri" 
                        alt="Image" 
                        width="250" 
                        [preview]="true" />
                </div>
            </div>
            <br>
            <div class="form-group">
                <p-button type="submit"  label="Back to list" severity="secondary" (onClick)="backPreviousPage()"></p-button>
            </div>
    </div>
</div>